/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mar-2018, 13.42.34
    Author     : kekko
*/

body{
    background-color:#d0cece;
    font-size: 110%;
    font-family:"Times New Roman",serif;
}

a{  
    color: #c20904;
    text-decoration: none;
}


#entra{
    text-align: center;
}

#indice{
    background-image: url(moto.jpeg);
}
#entra a:visited{
    color:white;
}


#titolo{
    margin-bottom: 0px;
}

#titoloScritto{
    position: relative;
    bottom: 17px;
}

#login{
   background-color: black;
   border-style:solid;
   margin-left:68%;
   margin-right:2%;
   padding-left: 3%;
   padding-right: 3%;
   padding-bottom: 2%;
   height: 80%;
   background: linear-gradient(#eae5e5,white);
}

h4{
    margin-top: 0px;
}


#username,#password,#pulsante{
    background: #b9b7a7;   
    color: #c20904;
    width: 100%;
}



aside{
    float: left;
    width: 15%;   
}

article{
    margin-left: 5%;
    width: 80%;
    float: left;
}

th{
    background: #c20904;
    height: 40px;
    border-style: solid;
    width: 70%; 
}

td{
    height: 30px;
    border-style: solid;
    border-collapse: collapse;
}

.articoli{
    float: left;
    width: 80%;
    margin-left: 5%;
}

section table{    
    border-style: solid;
    border-collapse: collapse; 
}
tr.dispari{
    background: white;
}

#DataTabella{
    width: 15%;
}
pulsantiTabella{
    width: 10%;
}


#bodyLogin{  
    background-image: url(sfondoLogin.jpg);
}

label.art{
    width: 20%;
    display: block;
    float: left;
    clear: both;
}


@media only screen and (max-width:540px){
    nav,aside,article,table,.articoli{
        clear:both;
    }
}
