/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mar-2018, 13.42.34
    Author     : kekko
*/

body{
    height: 100%;
    background-image:linear-gradient(white,#b9b7a7);
    font-family:serif;
    background-repeat: repeat;
}

#titolo{
    margin-bottom: 0px;
}

#titoloScritto{
    position: relative;
    bottom: 17px;
}

#login{
   text-align: center;
   border-style:solid;
   margin-left:30%;
   margin-right:30%;
   height: 80%;
   margin-bottom:90px;
}
h4{
    margin-top: 0px;
}

a{  
    color: #c20904;
    text-decoration: none;
}

.Dati{
    position: relative;
    right : 80px;
    color: #c20904;
    
}

#pulsante{
    width: 246px;
    color: #c20904;
}
#username,#password{
    background: #b9b7a7;   
    color: #c20904;
}

aside{
    float: left;
    height: 100%;
    background: #b9b7a7;
    width: 20%;
}

article{
    margin-left: 25%;
}

#autori{
    position: relative;
    left: 20px;
       
}
th{
    background: #c20904;
    height: 40px;
    width: 70%; 
}

td{
    height: 30px;
    
}
